.createEvent {
    margin-top: 90px;
    background-color: darkgrey;
    padding: 50px;
    
}

.createEventTitle{
    font-size: 90px;
    color: gold;
    margin-top: 120px;
}

.display{
    margin-top: 50px;
    background-color: darkgrey;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gold;
    height: 500%;
}





.fullname{
    font-size: 20px;
}

.street{
    font-size: 20px;
    margin:5px;
}

.city{
    font-size: 20px;
    margin:5px;
}

.zip{
    font-size: 20px;
    margin:5px;
}

.phone{
    font-size: 20px;
    margin:5px;
}

.email{
    font-size: 20px;
    margin:5px;
}

.datetime{
    font-size: 20px;
    margin:5px;
    /* width: 250px; */
}

.location {
    font-size: 20px;
    width: 250px;
    margin:5px;
}

.eventComments {
    width:200px;
    height: 150px;
    text-align:left;
    margin:5px;
}

.submitEvent{
    font-size: 20px;
    background-color: gold;
}




.editInfo{
    font-size: 20px;
    background-color: gold;
}

.deleteInfo {
    font-size: 20px;
    background-color: goldenrod;

}


/* this is where well style the rendered events */

.dynamics {
    margin-top:100px;
}






@media(max-width: 1599px){
    .createEventTitle {  
      font-size: 60px;
      margin-top:120px;
  }
    

}
  
  @media(max-width: 950px){
    .createEventTitle {  
        font-size: 40px;
        margin-top: 40px;
    }


    .fullname{
        width: 200px;
    }
    
    .street{
        width: 200px;
    }
    
    .city{
        width: 200px;
    }
    
    .zip{
        width: 200px;
    }
    
    .phone{
        width: 200px;
    }
    
    .email{
        width: 200px;
    }
    .datetime{
        font-size: 15px;
        margin:5px;
        width: 200px;
    }
   
    .location{
        width: 80%;
    }

    
    .eventComments {
        width: 200px;
    }
    
    @media(max-width : 730px){
        .fullname{
            width: 80%;
        }
        
        .street{
            width: 80%;
        }
        
        .city{
            width: 80%;
        }
        
        .zip{
            width: 80%;
        }
        
        .phone{
            width: 80%;
        }
        
        .email{
            width: 80%;
        }
        .datetime{
           
            width: 80%;
        }
       
        .location{
            width: 80%;
        }
    
        
        .eventComments {
            width: 80%;
        }        





  
  
  } 
    
}