.contact {
    margin-top: 75px;
    color: gold;
    background-color: darkgray;
    font-size: 40px;
    padding: 40px;
    height: 200px;
}

.socialmedia {
    margin-top: 20px;
    
}

.contactTitle {
    font-size: 90px;
    color: gold;
    margin-top: 120px;
}


.company{
    margin-top: 10px;

}

.number{
    margin-top: 10px;
}

.email{
    margin-top: 10px;
}

.address {
    margin-top: 10px;
}


.facebook{
    margin: 10px;
}

.twitter{
    margin: 10px;
}

.instagram{
   margin: 10px;
} 






@media(max-width: 1599px){
    .contactTitle  {  
      font-size: 70px;
  }

}


@media(max-width: 700px){
    .contactTitle  {
        margin-top: 20px;
        font-size: 50px;
    }
    
    

.company{
    margin-top: 10px;
    font-size: 20px;

}

.number{
    margin-top: 10px;
    font-size: 20px;
}

.email{
    margin-top: 10px;
    font-size: 20px;
}

.address {
    margin-top: 10px;
    font-size: 20px;
}


.copyright {
    margin-top: 100px;
    font-size: 10px;
}




}