
.createAccount {
    font-size: 90px;
    color: gold;
    margin-top: 120px;
}


.accountpage {
margin-top: 90px;
color: gold;
background-color: darkgray;
height: 400px;
padding-top: 100px;
}

.registerAccount {
    font-size: 30px;
    background-color: goldenrod;

}


.loginAccount {
    font-size: 30px;
    background-color: goldenrod;
    
}


.createfullname{
    font-size: 30px;
    margin: 10px;
   
    
}

.createemail{
    font-size: 30px;
    margin: 10px;
   
}

.password {
    font-size: 30px;
    margin: 10px;
    
    
}


.loginfullname{
    font-size: 30px;
    margin: 10px;
   
    
}


.loginpassword {
    font-size: 30px;
    margin: 10px;
   
    
}





@media(max-width:  1350px){
    .createAccount {  
        font-size: 70px;
        margin-top: 80px;
        
  
    }
   /* .accountpage {  
    display: flex;
    flex-direction: column;
    
  }
    
  .loginSection {  
    display: flex;
    flex-direction: column;
    
 } */

 .createfullname{
    width:90%;
   
}

.createemail{
    width:90%;
}

.password {
    width:90%;
    
} 


.loginfullname{
    width:90%;    
}


.loginpassword {
    width:90%;    
}








} 

@media(max-width:  700px){
    .createAccount {  
      font-size: 50px;
      margin-top: 60px;
      

  }
    
  .accountpage {
    margin-top: 40px;
    height: 400px;
    padding-top: 40px;
    }

  
      .createfullname {
          font-size: 20px;
      }
      .createemail {
          font-size: 20px;
      }
      .password{
          font-size: 20px;
      }
  
            
        .loginfullname{
            font-size: 20px;
        }


        .loginpassword {
            font-size: 20px; 

        }
 

}


