.paymentlayout {
color: gold;
background-color: darkgray;
height: 60vh;

}

.payment {
    margin-top: 120px;
    font-size: 90px;
    color: gold;
    padding: 30px;
}

.billinginfo {
    margin-top: 40px;
    padding-top: 80px;
    font-size: 50px;
}
/* 
.fullname {

}

.address {

}

.city {

}

.zip {

}

.country{

} */

.creditcardinfo {
    font-size: 40px;
}

/* 
.creditcardnumber {

}

.cvvnumber {

}

.cardholdername {

}

expirationdate {

} */





@media(max-width: 1599px){
    .payment  {  
      font-size: 70px;
  }

}


@media(max-width: 700px){
    .payment  {
        margin-top: 20px;
        font-size: 50px;
    }
    
    .billinginfo {
        margin-top: 20px;
        padding-top: 50px;
        font-size: 50px;
    }




}