.paymentlayout {
color: gold;
background-color: transparent;
height: 60vh;

}

.payment {
    margin-top: 120px;
    font-size: 90px;
    color: gold;
    padding: 30px;
}

.billinginfo {
    margin-top: 10px;
    padding-top: 40px;
    font-size: 50px;
}

.fullname {
    margin: 5px;
    align-self: auto;
}

.address {
    margin: 5px;
    align-self: auto;
}

.city {
    margin: 5px;
    align-self: auto;
}

.zip {
    margin: 5px;
    align-self: auto;
}

.country{
    margin: 5px;
    align-self: auto;
} 

.creditcardinfo {
    font-size: 40px;
    align-self: auto;
}

 
.creditcardnumber {
    margin: 5px;
    align-self: auto;
}

.cvvnumber {
    margin: 5px;
    align-self: auto;
}

.cardholdername {
    margin: 5px;
    align-self: auto;
}

expirationdate {
    margin: 5px;
    align-self: auto;
} 



.accept{
    margin-top: -100px;
    font-size: 30px;
    color: gold;
    margin-bottom: 20px;
}


.cryptostyle {
    background: goldenrod;
    color: aliceblue;
    font-size: 40px;
    width: 50%;
    margin: 0 auto 10px auto;
    padding: 1em;
    box-shadow: 1px 1px 0 lightgrey;
    
   
  }





    
    @media(max-width: 1599px){
        .payment  {  
          font-size: 70px;
      }

      .billinginfo {
        
    }
    
    .fullname {
     margin: 5px;
    }
    
    .address {
        margin: 5px;
    }
    
    .city {
        margin: 5px;
    }
    
    .zip {
        margin: 5px;
    }
    
    .country{
        margin: 5px;
    } 
    
    .creditcardinfo {
        margin-top: 15px;
        margin-bottom: 5px;

    }
    
    
    .creditcardnumber {
        margin: 5px;
    }
    
    .cvvnumber {
        margin: 5px;
    }
    
    .cardholdername {
        margin: 5px;
    }
    
    expirationdate {
        margin: 5px;
    } 



    @media(max-width: 700px){
        /* .payment  {
            
        }
        
        .billinginfo {
          
        } */


    }

}

