.paymentlayout {

color: gold;
background-color: darkgray;

}



.payment {
    margin-top: 70px;
    font-size: 90px;
    color: gold;
    padding: 30px;
}

.billinginfo {
    margin-top: 40px;
    padding-top: 80px;
    font-size: 50px;
}

.fullname {

}

.address {

}

.city {

}

.zip {

}

.country{

}

.creditcardinfo {
    font-size: 40px;
}


.creditcardnumber {

}

.cvvnumber {

}

.cardholdername {

}

expirationdate {

}





@media(max-width : 760px){
.payment {
    font-size: 60px;
}


}