.selectedevents {
    background-color: black;
    width: 700px;
    height: 700px;
}


.edclv2018 {
    background-color: aqua;
    width: 700px;
    height: 700px;
}


.eventinfo {
background-color: blue;
width: 700px;
height: 700px;
}