

nav {
    width: 500px;
    display: flex;
    justify-content: space-between;
  }



ul {
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
}

li {
  display:inline-block;
  /* float: left; */
  margin-right: 5px;
}

li a {
  display:block;
  min-width: 16em;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4f5b66;
  background: #d3a625;
  text-decoration: none;
}

li:hover a {
  background: #ffc53b;
}


.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #4f5b66;
  background: #d3a625;
  text-align: center;
  padding: 10px 0;
  display: none;
}

input[type=checkbox]{
  display: none;
}

input[type=checkbox]:checked ~ #menu{
  display: block;
}



@media(max-width : 760px){
 
  ul {
      position: static;
      display: none;
  }

  li {
      margin-bottom: 1px;
  }

  ul li, li a {
      width: 100%;
  }

  .show-menu {
      display:block;
  } 

}



/* 
@media screen and (max-width: 1599px){
    navbar {
      width: 450px;
      font-size: 30px;
    }
  
  }


  @media screen and (max-width: 700px){
    navbar {
      width: 250px;
      font-size: 10px;
      padding-right: 60px;
    }  */